.home {
  background-color: black;
  color: white;
}

.hero {
  position: relative;
  height: 800px;
}

.banner-img {
  width: 100%;
  height: auto;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hero-caption {
  position: absolute;
  width: 100%;
  padding: 6%;
  bottom: 0;
}

.hero-caption p {
  font-size: 1rem;
  text-align: left;
  max-width: 700px;
  margin-bottom: 30px;
}

.caption-img {
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.btn-hero {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.btn-hero .btn {
  gap: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.btn-hero .btn img {
  height: 30px;
  width: 30px;
}

.dark-btn {
  background-color: #6d6d6eb3;
  color: #fff;
}

.btn-hero .btn:hover {
  background-color: #ffffffbf;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-hero .dark-btn:hover {
  background-color: #6d6d6e66;
  cursor: pointer;
}

.ohter-cards {
  padding: 10px;
  margin-left: 50px;
  background-color: rgb(44, 43, 43);
  border-radius: 5px;
}
